<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fantazy лига по биатлону{% endblock %}</title>

    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
    <link rel="stylesheet" href="{{ asset('css/auth.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <script src="{{ asset('js/modal.js') }}"></script>
    <script src="{{ asset('js/formButton.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <!-- Подключение шрифтов -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Место для дополнительных стилей -->
    {% block styles %}{% endblock %}
</head>
<body>
<div class="background-image">
    <header>
        <nav class="header-nav">
            <!-- Логотип слева -->
            <div class="logo">
                <a href="{{ path('app_home') }}">
                    <img src="{{ asset('/img/logo.png') }}" alt="Logo">
                </a>
            </div>

            <!-- Кнопки в центре -->
            <div class="centered-buttons">
                <a href="{{ path('app_home') }}" class="btn">Главная</a>
                <a href="{{ path('catalog_index') }}" class="btn">Каталог</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_users') }}" class="btn">Пользователи</a>
                    <a href="{{ path('app_admin') }}" class="btn">Админ панель</a>
                {% endif %}
            </div>

            <!-- Информация о пользователе справа -->
            <div class="user-info-section">
                {% if app.user %}
                    <a href="{{ path('profile', { 'id': app.user.id }) }}" class="user-info">
                        {{ app.user.name }}
                    </a>
                    <a href="{{ path('app_logout') }}" class="btn">Выход</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn">Войти</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        <div class="content-container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Fantazy лига по биатлону</p>
    </footer>
</div>
</body>
</html>
