{% extends 'base.html.twig' %}

{% block title %}{{ catalogItem.description }}{% endblock %}

{% block content %}
    <h1>{{ catalogItem.name }}</h1>

    <table class="table">
        <tr>
            <th>{{ labels.description }}</th>
            <td>{{ catalogItem.description }}</td>
        </tr>
        <tr>
            <th>{{ labels.type }}</th>
            <td>{{ catalogItem.type.getLabel() }}</td>
        </tr>
        <tr>
            <th>{{ labels.advantages }}</th>
            <td>{{ catalogItem.advantages|join(', ') }}</td>
        </tr>
        <tr>
            <th>{{ labels.photo }}</th>
            <td>
                {% if catalogItem.photoPath %}
                    <img src="{{ catalogItem.photoPath }}" alt="Фото товара" width="150">
                {% else %}
                    Нет фото
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ labels.manufacturers }}</th>
            <td>
                {% if catalogItem.manufacturers|length > 0 %}
                    {{ catalogItem.manufacturers[0].name }}
                {% else %}
                    Не указано
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ labels.country }}</th>
            <td>{{ catalogItem.country ? catalogItem.country.name : 'Не указано' }}</td>
        </tr>
        <tr>
            <th>{{ labels.section }}</th>
            <td>{{ catalogItem.section ? catalogItem.section.name : 'Не указан' }}</td>
        </tr>
        <tr>
            <th>{{ labels.publishedAt }}</th>
            <td>{{ catalogItem.publishedAt|date('Y-m-d H:i') }}</td>
        </tr>
    </table>

    <a href="{{ path('catalog_index') }}" class="btn btn-secondary">Вернуться в каталог</a>
    {% if is_granted('ROLE_CONTENT') or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('catalog_edit', {'id': catalogItem.id}) }}" class="btn btn-warning">Изменить</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('property_names_edit') }}" class="btn btn-info mb-3">Изменить свойства</a>
    {% endif %}
{% endblock %}
